
:root{
    --yellow: #ffff13;
    --font: 'Shantell Sans', cursive;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--yellow);
    font-family: var(--font);
    font-weight: 500;
    font-size: 30px;
}