body{
    background-color: rgb(202, 217, 232);
}

h1{
    color: rgb(67, 119, 121);
    text-align: center;
}
.open-backpack{
    color: cadetblue;
    background-color: azure;
    border-radius: 0.5em;
    border-color: azure;
    
}